body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1, h3 {
    color: #e50914;
}

.ficha-info {
    margin-bottom: 1rem;
}

label {
    display: block;
    font-weight: 600;
    margin-bottom: 0.3rem;
    color: #bbb;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #444;
    background-color: #222;
    color: #fff;
}

.exercicio-item {
    border: 1px solid #e50914;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.form-buttons {
    width: 100%;
}

.btn-primary {
    background-color: #e50914;
    border: none;
}

    .btn-primary:hover {
        background-color: #b20710;
    }

.btn-secondary {
    background-color: #333;
    border: none;
    color: white;
}

    .btn-secondary:hover {
        background-color: #555;
    }
